* {
  margin: 5px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: lemonchiffon;
}

.app-title {
  text-align: center;
  color: #171821;
}

.todo-list__load-button {
  background-color: brown;
  border-radius: 5px;
  color: white;
  border: 0;
  padding: 20px;
  width: 50vw;
  margin: 20px auto;
  font-size: 20px;
}

.todo-list__load-button:hover {
  background-color: #bd5151;
  cursor: pointer;
}

.sorting-button {
  border: 0;
  background: transparent;
  border-bottom: 1px solid #171821;
  font-weight: 600;
  cursor: pointer;
}

.todo-list {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 10px;
}

.todo-list__item {
  position: relative;
  padding: 10px 30px;
  background: #171821;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  box-shadow: 7px 7px 5px 0 rgba(0, 0, 0, 0.5);
}

.todo-item__input {
  display: none;
}

.todo-item__title:before {
  position: absolute;
  top: 18px;
  left: 10px;
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.todo-item__input:checked + .todo-item__title:before {
  background-color: brown;
  border: 1px solid white;
}

.user__website-link {
  color: white;
}
